@font-face {
  font-weight: 400;
  font-family: "RotondaC";
  font-style: normal;
  font-display: swap;
  src: local("RotondaC");
  src: url("../fonts/RotondaC.woff");
}

@font-face {
  font-weight: 700;
  font-family: "RotondaC-Bold";
  font-style: normal;
  font-display: swap;
  src: local("RotondaC-Bold");
  src: url("../fonts/RotondaC-Bold.woff");
}

@font-face {
  font-weight: 700;
  font-family: "ALSSchlangesans-Bold";
  font-style: normal;
  font-display: swap;
  src: local("ALSSchlangesans-Bold");
  src: url("../fonts/ALSSchlangesans-Bold.woff");
}

@font-face {
  font-weight: 400;
  font-family: "MyriadPro-Regular";
  font-style: normal;
  font-display: swap;
  src: local("MyriadPro-Regular");
  src: url("../fonts/MyriadPro-Regular.woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-display: swap;
  src: local("Roboto-Bold");
  src: url("../fonts/Roboto-Bold.woff");
}
