$rotonda: "RotondaC", Arial, sans-serif;
$rotonda-bold: "RotondaC-Bold", Arial, sans-serif;
$als-bold: "ALSSchlangesans-Bold", Arial, sans-serif;
$myriad: "MyriadPro-Regular", Arial, sans-serif;
$blue: #2856a8;
$white: #ffffff;
$yellow: #f1d02f;
$grey: #d9d9d9;
$orange: #f2963c;
$fb-blue: #414594;
$twitter-blue: #3aaae3;
$vk-blue: #416da1;
$grey_05: rgba(72, 72, 72, 0.5);
$input-grey: #484848;
