.button {
  display: inline-block;
  width: 100%;
  padding: 15px;

  font-family: $rotonda;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  vertical-align: middle;
  letter-spacing: 0.64px;

  background-color: $blue;
  border: none;
  border-radius: 25px;

  cursor: pointer;
}


